<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<typeAliases>
 		<typeAlias type="com.icia.zboard3.entity.User" alias="user" />
 		<typeAlias type="com.icia.zboard3.entity.Memo" alias="memo" />
 		<typeAlias type="com.icia.zboard3.entity.Board" alias="board" />
 		<typeAlias type="com.icia.zboard3.entity.Comment" alias="comment" />
 	</typeAliases>
 	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.icia.zboard3.entity.Level" />
	</typeHandlers>
</configuration>